#login-form {
    background-color: rgba(200,200,200,0.8);
    padding: 1em;
    border-radius: 0.5em;
}

.table {
    display: table;
    margin: 0 auto;
    clear: both;
}

#forgot {
	float: right;
}

.loading {
  display: inline-block;
  margin: 5em;
  border-width: 30px;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
     -moz-animation: spin 1s linear infinite;
       -o-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  }

.style-2 {
  border-style: double;
  border-color: rgba(100, 100, 100, 0.4) transparent;
  }

.container {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	bottom: 0;
	position: absolute;
}

.floater {
	margin-left: 78%;
}

@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(359deg); }
  }  