/* CSS declarations go here */
.tile {
    margin: 0.2em;
    width: 15.8em;
    height: 1.5em;
}

#athletefields {
    margin-top: 0;
}

#teamdrop td {
    height: 1.2em;
    padding: 0.2em;
    margin-left: 0.1em;
    margin-right: 0.1em;
}

#teamdrop .athlete {
    width: 20em;
}

.flagholder {
    vertical-align: bottom;
}

.smallflag {
    background-size: 2em 1.2em;
    background-position: center center;
    border: 1px solid black;
    background-repeat: no-repeat;
    width: 2em;
    height: 1.2em;
}

.male {
    background-color: #2ba6cb;
    color: #fff;
    cursor: pointer;
}

.female {
    background-color: #e285bd;
    color: #fff;
    cursor: pointer;
}

.unavailable {
    color: #bbb;
    cursor: default !important;
}

.large {
    font-size: 1.2em;
    max-width: 10em;
    white-space: normal;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.teammember li.athletename {
    padding: 0.6em;
}

.athletepic {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 10em;
}

.pricelabel {
    display: inline-table;
    position: absolute;
    top: 7em;
    right: 5em;
    background-color: rgba(200, 200, 200, 0.5);
    width: 5em;
    height: 1.5em;
    border-radius: 0.5em;
}

.pricelabel h2 {
    margin: 0;
}

.cross {
    display: none;
    float: right;
    background-image: url('cross.png');
    width: 2em;
    height: 2em;
    background-size: cover;
    margin-top: -0.5em;
    margin-right: -0.5em;
    cursor: pointer;
}

.alert-box .under {
    color: #e9e9e9;
    font-size: 1.4em;
}

.alert-box .over {
    color: #c60f13;
    font-size: 1.4em;
}

#athletelist {
    height: 16.5em;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-top: 0.5em;
}

#modal {
    max-height: 30em;
    overflow-y: scroll;
}

#scoringdiv h6 {
    display: inline;
}

.leaguetable {
    width: 100%;
    text-align: center;
}

.leaguetable tbody .gaprow {
}

.gaprow td {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: thin dotted darkgrey;
}

#leaguechoice .button {
    width: 100%;
}
